@function images-url($path) {
  @return url("images/" + $path);
}

.row.final {
  margin-bottom: 0;
}
.pretty-cursive {
  font-family: 'Pacifico', cursive;
}

ul.button-family {
  li {
    display: inline-block;
  }
}

blockquote {
  p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: color("grey", "darken-3");
  }
  footer {
    text-align: right;
    &::before {
      content: " - ";
    }
  }
}

.side-card {
  @include display-flex;
  @include justify-content(flex-start);
  @include align-items(flex-start);
  .card-title {
    margin-top: 1rem;
    font-size: 1.5rem;
  }
  .card-summary {
    margin-top: 1.5rem;
  }
  background-color: color("grey", "lighten-5");
}

.card-row {
  .card-image {
    height: 100%;
    max-width: 100%;
    max-height: 350px;
    margin-right: 1rem;
  }
  .card-col {
    height: 350px;
  }
}