{{#md-navbar name="Insolent Parakeet" class="purple lighten-2 pretty-cursive"}}
  {{#link-to "index" (query-params x="no") tagName="li"}}
    <a class="pretty-cursive amber-text darken-4">Post a Listing</a>
  {{/link-to}}
  {{#link-to "index" (query-params x="no") tagName="li"}}
    <a class="pretty-cursive amber-text darken-4">Register</a>
  {{/link-to}}
  {{#link-to "index" (query-params x="no") tagName="li"}}
    <a class="pretty-cursive amber-text darken-4">Sign in</a>
  {{/link-to}}
{{/md-navbar}}